/* line 1, /Users/noah/code/hitme/src/_styles/main.scss */
.hidden {
  display: none; }

/* line 5, /Users/noah/code/hitme/src/_styles/main.scss */
h1 {
  color: white;
  background: black; }

/* line 10, /Users/noah/code/hitme/src/_styles/main.scss */
p {
  margin: 0; }

/* line 14, /Users/noah/code/hitme/src/_styles/main.scss */
body {
  background: black; }

/* line 18, /Users/noah/code/hitme/src/_styles/main.scss */
.count {
  color: yellow;
  position: absolute;
  top: 154px;
  left: 18px;
  padding: 2px; }
  /* line 24, /Users/noah/code/hitme/src/_styles/main.scss */
  .count.hot {
    color: red;
    background: yellow;
    font-weight: bold; }
  /* line 29, /Users/noah/code/hitme/src/_styles/main.scss */
  .count.cold {
    color: blue;
    background: black;
    font-weight: bold; }

/* line 36, /Users/noah/code/hitme/src/_styles/main.scss */
button:disabled {
  display: none; }

/* line 40, /Users/noah/code/hitme/src/_styles/main.scss */
button:focus {
  outline: none; }

/* line 44, /Users/noah/code/hitme/src/_styles/main.scss */
button:active {
  color: white; }

/* line 48, /Users/noah/code/hitme/src/_styles/main.scss */
.table {
  background-image: url("../images/table-graphic.jpg");
  background-size: contain;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 50%;
  margin-top: -270px;
  width: 960px;
  height: 540px;
  border: 2px solid white; }

/* line 61, /Users/noah/code/hitme/src/_styles/main.scss */
.total {
  position: absolute;
  color: white;
  font-size: 1.5em; }
  /* line 65, /Users/noah/code/hitme/src/_styles/main.scss */
  .total.dealerTotal {
    top: 134px;
    left: 384px; }
  /* line 69, /Users/noah/code/hitme/src/_styles/main.scss */
  .total.playerTotal {
    top: 340px;
    left: 383px; }
  /* line 73, /Users/noah/code/hitme/src/_styles/main.scss */
  .total.hand1Total {
    top: 66px;
    left: 0px; }
  /* line 77, /Users/noah/code/hitme/src/_styles/main.scss */
  .total.hand2Total {
    top: 66px;
    left: 250px; }

/* line 82, /Users/noah/code/hitme/src/_styles/main.scss */
.dealer {
  position: absolute;
  top: 65px;
  left: 413px;
  perspective: 400px; }

/* line 89, /Users/noah/code/hitme/src/_styles/main.scss */
.player {
  position: absolute;
  top: 267px;
  left: 413px; }

/* line 96, /Users/noah/code/hitme/src/_styles/main.scss */
.dealer img, .player img {
  margin-right: -90px; }

/* line 124, /Users/noah/code/hitme/src/_styles/main.scss */
.announce {
  position: absolute;
  background: black;
  display: none; }
  /* line 128, /Users/noah/code/hitme/src/_styles/main.scss */
  .announce.lose {
    border: 6px double red;
    display: table-cell;
    vertical-align: middle;
    width: 336px;
    top: 186px;
    left: 311px; }
    /* line 135, /Users/noah/code/hitme/src/_styles/main.scss */
    .announce.lose p {
      color: red;
      font-size: 4em;
      text-align: center; }
  /* line 141, /Users/noah/code/hitme/src/_styles/main.scss */
  .announce.win {
    border: 6px double lime;
    display: table-cell;
    vertical-align: middle;
    width: 313px;
    top: 205px;
    left: 324px; }
    /* line 148, /Users/noah/code/hitme/src/_styles/main.scss */
    .announce.win p {
      color: lime;
      font-size: 3em;
      text-align: center; }
  /* line 154, /Users/noah/code/hitme/src/_styles/main.scss */
  .announce.push {
    border: 6px double white;
    display: table-cell;
    vertical-align: middle;
    width: 208px;
    top: 186px;
    left: 380px; }
    /* line 161, /Users/noah/code/hitme/src/_styles/main.scss */
    .announce.push p {
      color: #adc78a;
      font-size: 4em;
      text-align: center; }

/* line 169, /Users/noah/code/hitme/src/_styles/main.scss */
button {
  background: rgba(154, 185, 133, 0.63);
  font-size: 2em;
  padding: 8px 24px;
  border: 4px groove rgba(154, 185, 133, 0.63);
  border-radius: 16px 16px;
  color: #3b0600;
  font-family: Tahoma; }

/* line 180, /Users/noah/code/hitme/src/_styles/main.scss */
.buttons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 448px;
  left: 308px;
  width: 361px; }

/* line 189, /Users/noah/code/hitme/src/_styles/main.scss */
#doubleDown-hidden {
  display: none; }

/* line 193, /Users/noah/code/hitme/src/_styles/main.scss */
.stay {
  padding: 8px 16px; }

/* line 205, /Users/noah/code/hitme/src/_styles/main.scss */
.cardImage {
  width: 113px;
  height: 157px; }

/* line 210, /Users/noah/code/hitme/src/_styles/main.scss */
.chip {
  position: absolute; }

/* line 214, /Users/noah/code/hitme/src/_styles/main.scss */
.chip:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(1px 1px 5px white); }

/* line 219, /Users/noah/code/hitme/src/_styles/main.scss */
.chip1 {
  left: 6px;
  top: 366px;
  width: 47px;
  height: 21px; }

/* line 226, /Users/noah/code/hitme/src/_styles/main.scss */
.chip5 {
  left: 48px;
  top: 380px;
  width: 45px;
  height: 22px; }

/* line 233, /Users/noah/code/hitme/src/_styles/main.scss */
.chip10 {
  left: 88px;
  top: 394px;
  width: 47px;
  height: 22px; }

/* line 240, /Users/noah/code/hitme/src/_styles/main.scss */
.chip25 {
  left: 130px;
  top: 408px;
  width: 46px;
  height: 21px; }

/* line 247, /Users/noah/code/hitme/src/_styles/main.scss */
.chip50 {
  left: 171px;
  top: 422px;
  width: 47px;
  height: 22px; }

/* line 254, /Users/noah/code/hitme/src/_styles/main.scss */
.chip100 {
  left: 213px;
  top: 435px;
  width: 47px;
  height: 22px; }

/* line 261, /Users/noah/code/hitme/src/_styles/main.scss */
#selectedBet {
  -webkit-filter: drop-shadow(1px 1px 5px white); }

/* line 265, /Users/noah/code/hitme/src/_styles/main.scss */
.bankChips {
  width: 47px;
  position: absolute;
  top: 394px;
  left: 306px; }
  /* line 270, /Users/noah/code/hitme/src/_styles/main.scss */
  .bankChips img {
    width: 47px;
    position: absolute; }

/* line 276, /Users/noah/code/hitme/src/_styles/main.scss */
.bankTotal {
  position: absolute;
  top: 418px;
  left: 299px; }

/* line 282, /Users/noah/code/hitme/src/_styles/main.scss */
.handChips {
  width: 47px;
  position: absolute;
  top: 393px;
  left: 604px; }
  /* line 287, /Users/noah/code/hitme/src/_styles/main.scss */
  .handChips img {
    width: 47px;
    position: absolute; }

/* line 293, /Users/noah/code/hitme/src/_styles/main.scss */
.currentWager {
  position: absolute;
  top: 418px;
  left: 569px; }
