/* line 1, /Users/noah/code/hitme/src/_styles/main.scss */
.hidden {
  display: none; }

/* line 5, /Users/noah/code/hitme/src/_styles/main.scss */
h1 {
  color: white;
  background: black; }

/* line 10, /Users/noah/code/hitme/src/_styles/main.scss */
p {
  margin: 0; }

/* line 14, /Users/noah/code/hitme/src/_styles/main.scss */
body {
  background: black; }

/* line 18, /Users/noah/code/hitme/src/_styles/main.scss */
button:disabled {
  display: none; }

/* line 22, /Users/noah/code/hitme/src/_styles/main.scss */
button:focus {
  outline: none; }

/* line 26, /Users/noah/code/hitme/src/_styles/main.scss */
.btn:active, .testHand button:active {
  color: white;
  position: relative;
  top: 1px;
  left: 1px; }

/* line 33, /Users/noah/code/hitme/src/_styles/main.scss */
.table {
  background-image: url("../images/table-graphic.jpg");
  background-size: contain;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 50%;
  margin-top: -270px;
  width: 960px;
  height: 540px;
  border: 2px solid white; }

/* line 46, /Users/noah/code/hitme/src/_styles/main.scss */
.total {
  position: absolute;
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 1px 0 black; }
  /* line 51, /Users/noah/code/hitme/src/_styles/main.scss */
  .total.dealerTotal {
    top: 66px;
    left: 385px; }
  /* line 55, /Users/noah/code/hitme/src/_styles/main.scss */
  .total.playerTotal {
    top: 285px;
    left: 380px; }

/* line 68, /Users/noah/code/hitme/src/_styles/main.scss */
.dealer {
  position: absolute;
  top: 0px;
  left: 413px;
  -webkit-perspective: 400px;
  perspective: 400px; }

/* line 76, /Users/noah/code/hitme/src/_styles/main.scss */
.player {
  position: absolute;
  top: 216px;
  left: 413px;
  -webkit-perspective: 400px;
  perspective: 400px; }

/* line 84, /Users/noah/code/hitme/src/_styles/main.scss */
.dealer img, .player img {
  margin-right: -90px;
  -webkit-transform: rotateX(16deg);
  transform: rotateX(16deg); }

/* line 90, /Users/noah/code/hitme/src/_styles/main.scss */
.dealer img {
  transform: scale(0.85) rotateX(16deg); }

/* line 113, /Users/noah/code/hitme/src/_styles/main.scss */
.announce {
  position: absolute;
  background: black;
  display: none;
  top: 152px;
  vertical-align: middle; }
  /* line 119, /Users/noah/code/hitme/src/_styles/main.scss */
  .announce.lose {
    border: 6px double red;
    display: table-cell;
    width: 336px;
    left: 311px; }
    /* line 124, /Users/noah/code/hitme/src/_styles/main.scss */
    .announce.lose p {
      color: red;
      font-size: 3em;
      text-align: center; }
  /* line 130, /Users/noah/code/hitme/src/_styles/main.scss */
  .announce.win {
    border: 6px double lime;
    display: table-cell;
    width: 313px;
    left: 324px; }
    /* line 135, /Users/noah/code/hitme/src/_styles/main.scss */
    .announce.win p {
      color: lime;
      font-size: 3em;
      text-align: center; }
  /* line 141, /Users/noah/code/hitme/src/_styles/main.scss */
  .announce.push {
    border: 6px double white;
    display: table-cell;
    width: 208px;
    left: 380px; }
    /* line 146, /Users/noah/code/hitme/src/_styles/main.scss */
    .announce.push p {
      color: #adc78a;
      font-size: 3em;
      text-align: center; }

/* line 154, /Users/noah/code/hitme/src/_styles/main.scss */
.btn {
  background: rgba(154, 185, 133, 0.63);
  font-size: 2em;
  padding: 8px 24px;
  border: 4px groove rgba(154, 185, 133, 0.63);
  border-radius: 16px 16px;
  color: #3b0600;
  font-family: Tahoma; }

/* line 165, /Users/noah/code/hitme/src/_styles/main.scss */
.buttons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 448px;
  left: 308px;
  width: 361px; }

/* line 174, /Users/noah/code/hitme/src/_styles/main.scss */
#doubleDown-hidden {
  display: none; }

/* line 178, /Users/noah/code/hitme/src/_styles/main.scss */
.stay {
  padding: 8px 16px; }

/* line 190, /Users/noah/code/hitme/src/_styles/main.scss */
.cardImage {
  width: 113px;
  height: 157px; }

/* line 195, /Users/noah/code/hitme/src/_styles/main.scss */
.chip {
  position: absolute; }

/* line 199, /Users/noah/code/hitme/src/_styles/main.scss */
.chip:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(1px 1px 5px white); }

/* line 204, /Users/noah/code/hitme/src/_styles/main.scss */
.chip1 {
  left: 6px;
  top: 366px;
  width: 47px;
  height: 21px; }

/* line 211, /Users/noah/code/hitme/src/_styles/main.scss */
.chip5 {
  left: 48px;
  top: 380px;
  width: 45px;
  height: 22px; }

/* line 218, /Users/noah/code/hitme/src/_styles/main.scss */
.chip10 {
  left: 88px;
  top: 394px;
  width: 47px;
  height: 22px; }

/* line 225, /Users/noah/code/hitme/src/_styles/main.scss */
.chip25 {
  left: 130px;
  top: 408px;
  width: 46px;
  height: 21px; }

/* line 232, /Users/noah/code/hitme/src/_styles/main.scss */
.chip50 {
  left: 171px;
  top: 422px;
  width: 47px;
  height: 22px; }

/* line 239, /Users/noah/code/hitme/src/_styles/main.scss */
.chip100 {
  left: 213px;
  top: 435px;
  width: 47px;
  height: 22px; }

/* line 246, /Users/noah/code/hitme/src/_styles/main.scss */
#selectedBet {
  -webkit-filter: drop-shadow(1px 1px 5px white); }

/* line 250, /Users/noah/code/hitme/src/_styles/main.scss */
.bankChips {
  width: 47px;
  position: absolute;
  top: 394px;
  left: 306px; }
  /* line 255, /Users/noah/code/hitme/src/_styles/main.scss */
  .bankChips img {
    width: 47px;
    position: absolute; }

/* line 261, /Users/noah/code/hitme/src/_styles/main.scss */
.bankTotal {
  position: absolute;
  top: 418px;
  left: 299px; }

/* line 267, /Users/noah/code/hitme/src/_styles/main.scss */
.handChips {
  width: 47px;
  position: absolute;
  top: 393px;
  left: 462px; }
  /* line 272, /Users/noah/code/hitme/src/_styles/main.scss */
  .handChips img {
    width: 47px;
    position: absolute; }

/* line 278, /Users/noah/code/hitme/src/_styles/main.scss */
.currentWager {
  position: absolute;
  top: 418px;
  left: 428px; }

/* line 288, /Users/noah/code/hitme/src/_styles/main.scss */
.toggleTestPanel {
  position: absolute;
  top: 26px;
  right: 8px;
  width: 98px;
  height: 72px;
  transform: rotate(18deg);
  background: transparent;
  border: none; }

/* line 299, /Users/noah/code/hitme/src/_styles/main.scss */
.testHand {
  position: absolute;
  top: 106px;
  right: -9px;
  width: 200px; }
  /* line 304, /Users/noah/code/hitme/src/_styles/main.scss */
  .testHand p {
    color: white;
    margin-top: 10px; }

/* line 310, /Users/noah/code/hitme/src/_styles/main.scss */
.testHand button {
  background-image: -webkit-linear-gradient(top, #ffea00 0%, darkorange 100%);
  background-image: -moz-linear-gradient(top, #ffea00 0%, darkorange 100%);
  background-image: -ms-linear-gradient(top, #ffea00 0%, darkorange 100%);
  background-image: -o-linear-gradient(top, #ffea00 0%, darkorange 100%);
  background-image: linear-gradient(top, #ffea00 0%, darkorange 100%);
  border: solid 1px #ffbf00;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 15px;
  display: inline-block;
  line-height: 20px;
  color: black;
  margin: 5px 0 20px; }
  /* line 325, /Users/noah/code/hitme/src/_styles/main.scss */
  .testHand button:hover {
    background-image: -webkit-linear-gradient(top, #ffea00 100%, darkorange 0%);
    background-image: -moz-linear-gradient(top, #ffea00 100%, darkorange 0%);
    background-image: -ms-linear-gradient(top, #ffea00 100%, darkorange 0%);
    background-image: -o-linear-gradient(top, #ffea00 100%, darkorange 0%);
    background-image: linear-gradient(top, #ffea00 100%, darkorange 0%); }
  /* line 332, /Users/noah/code/hitme/src/_styles/main.scss */
  .testHand button:active {
    -webkit-transform: translate(2px 2px);
    -moz-transform: translate(2px 2px);
    transform: translate(2px 2px); }

/* line 347, /Users/noah/code/hitme/src/_styles/main.scss */
.red {
  height: 104px;
  width: 104px;
  background: #e93e3c;
  display: inline-block;
  border-radius: 100% 0 0 0; }

/* line 355, /Users/noah/code/hitme/src/_styles/main.scss */
.green {
  height: 104px;
  width: 104px;
  background: #9ead3a;
  display: inline-block;
  border-radius: 0 100% 0 0; }

/* line 363, /Users/noah/code/hitme/src/_styles/main.scss */
.advantage-gauge {
  top: 15px;
  left: 20px;
  display: inline-block;
  height: 110px;
  position: relative;
  width: 208px; }
  /* line 372, /Users/noah/code/hitme/src/_styles/main.scss */
  .advantage-gauge .levels {
    border-bottom: 2px solid #464646;
    height: 104px; }

/* line 378, /Users/noah/code/hitme/src/_styles/main.scss */
.gauge-needle {
  background: url("http://f.cl.ly/items/2d3Q26031W0O0R2o1j3V/gauge-needle.svg") 0 0 no-repeat;
  width: 17px;
  height: 94px;
  display: block;
  margin-left: -8px;
  margin-bottom: -3px;
  position: absolute;
  left: 50%;
  bottom: 2px;
  transform: rotate(-18deg);
  -webkit-transform-origin: 8px 84px;
  -moz-transform-origin: 8px 84px;
  -ms-transform-origin: 8px 84px;
  transform-origin: 8px 84px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

/* line 404, /Users/noah/code/hitme/src/_styles/main.scss */
.houseText {
  position: absolute;
  top: 87px;
  left: 34px; }

/* line 410, /Users/noah/code/hitme/src/_styles/main.scss */
.playerText {
  position: absolute;
  top: 87px;
  right: 34px; }

/* line 416, /Users/noah/code/hitme/src/_styles/main.scss */
.advantageText {
  position: absolute;
  left: 50px;
  top: 109px;
  color: white;
  text-shadow: 1px 1px 0 black; }

/* line 425, /Users/noah/code/hitme/src/_styles/main.scss */
.percentMarkers > * {
  position: absolute;
  font-size: .8em; }

/* line 429, /Users/noah/code/hitme/src/_styles/main.scss */
.percentMarkers .pos1 {
  top: 20px;
  left: 145px; }

/* line 433, /Users/noah/code/hitme/src/_styles/main.scss */
.percentMarkers .pos2 {
  top: 64px;
  left: 178px; }

/* line 437, /Users/noah/code/hitme/src/_styles/main.scss */
.percentMarkers .neg1 {
  top: 20px;
  left: 39px; }

/* line 441, /Users/noah/code/hitme/src/_styles/main.scss */
.percentMarkers .neg2 {
  top: 64px;
  left: 7px; }

/* line 447, /Users/noah/code/hitme/src/_styles/main.scss */
.count {
  color: white;
  position: absolute;
  top: 149px;
  left: 18px;
  padding: 2px;
  text-shadow: 1px 1px 0 black; }

/* line 456, /Users/noah/code/hitme/src/_styles/main.scss */
.trueCount {
  color: white;
  position: absolute;
  top: 170px;
  left: 18px;
  padding: 2px;
  text-shadow: 1px 1px 0 black; }
