.hidden {
  display: none;
}

h1 {
  color: white;
  background: black;
}

p {
  margin: 0;
}

body {
  background: black;
}

.count {
  color: yellow;
  position: absolute;
  top: 154px;
  left: 18px;
  padding: 2px;
  &.hot {
    color: red;
    background: yellow;
    font-weight: bold;
  }
  &.cold {
    color: blue;
    background: black;
    font-weight: bold;
  }
}

button:disabled {
  display: none;
}

button:focus {
  outline: none;
}

button:active {
  color: white;
}

.table {
  background-image: url("../images/table-graphic.jpg");
  background-size: contain;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 50%;
  margin-top: -270px;
  width: 960px;
  height: 540px;
  border: 2px solid white;
}

.total {
  position: absolute;
  color: white;
  font-size: 1.5em;
  &.dealerTotal {
    top: 134px;
    left: 384px;
  }
  &.playerTotal {
    top: 340px;
    left: 383px;
  }
  &.hand1Total {
    top: 66px;
    left: 0px;
  }
  &.hand2Total {
    top: 66px;
    left: 250px;
  }
}
.dealer {
  position: absolute;
  top: 65px;
  left: 413px;
  perspective: 400px;
}

.player {
  position: absolute;
  top: 267px;
  left: 413px;
  //perspective: 400px;
}

.dealer img, .player img/*, .playerSplit img*/ {
  margin-right: -90px;
 // transform: rotateX(16deg);
}

// .dealer img {
//   transform: scale(.85) rotateX(16deg);
// }

// .playerSplit {
//   position: absolute;
//   width: 500px;
//   top: 267px;
//   left: 236px;
//   display: flex;
//   justify-content: space-around;
//   perspective: 800px;
// }

// .hand1, .hand2 {
//   min-width: 188px;
// }

// .highlighted {
//   background: rgba(255,255,0, .5);
//   border: 4px double black;
// }

.announce {
  position: absolute;
  background: black;
  display: none;
  &.lose {
    border: 6px double red;
    display: table-cell;
    vertical-align: middle;
    width: 336px;
    top: 186px;
    left: 311px;
    p {
      color: red;
      font-size: 4em;
      text-align: center;
    }
  }
  &.win {
    border: 6px double lime;
    display: table-cell;
    vertical-align: middle;
    width: 313px;
    top: 205px;
    left: 324px;
    p {
      color: lime;
      font-size: 3em;
      text-align: center;
    }
  }
  &.push {
    border: 6px double white;
    display: table-cell;
    vertical-align: middle;
    width: 208px;
    top: 186px;
    left: 380px;
    p {
      color: rgb(173, 199, 138);
      font-size: 4em;
      text-align: center;
    }
  }
}

button {
  //position: absolute;
  background: rgba(154, 185, 133, 0.63);
  font-size: 2em;
  padding: 8px 24px;
  border: 4px groove rgba(154, 185, 133, 0.63);
  border-radius: 16px 16px;
  color: rgb(59, 6, 0);
  font-family: Tahoma;
}

.buttons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 448px;
  left: 308px;
  width: 361px;
}

#doubleDown-hidden {
  display: none;
}

.stay {
  padding: 8px 16px;
}

// .split {
//   position: absolute;
//   top: 356px;
//   left: 424px;
//   background: rgba(154, 185, 133, .9);
//   border: 4px groove rgba(154, 185, 133, .9);
// }

.cardImage {
  width: 113px;
  height: 157px;
}

.chip {
  position: absolute;
}

.chip:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(1px 1px 5px white);
}

.chip1 {
  left: 6px;
  top: 366px;
  width: 47px;
  height: 21px;
}

.chip5 {
  left: 48px;
  top: 380px;
  width: 45px;
  height: 22px;
}

.chip10 {
  left: 88px;
  top: 394px;
  width: 47px;
  height: 22px;
}

.chip25 {
  left: 130px;
  top: 408px;
  width: 46px;
  height: 21px;
}

.chip50 {
  left: 171px;
  top: 422px;
  width: 47px;
  height: 22px;
}

.chip100 {
  left: 213px;
  top: 435px;
  width: 47px;
  height: 22px;
}

#selectedBet {
  -webkit-filter: drop-shadow(1px 1px 5px white);
}

.bankChips {
  width: 47px;
  position: absolute;
  top: 394px;
  left: 306px;
  img {
    width: 47px;
    position: absolute;
  }
}

.bankTotal {
  position: absolute;
  top: 418px;
  left: 299px;
}

.handChips {
  width: 47px;
  position: absolute;
  top: 393px;
  left: 604px;
  img {
    width: 47px;
    position: absolute;
  }
}

.currentWager {
  position: absolute;
  top: 418px;
  left: 569px;
}
