.hidden {
  display: none;
}

.perspectiveReset {
  perspective: 400px;
}

h1 {
  color: white;
  background: black;
}

p {
  margin: 0;
}

body {
  background: black;
}

.scoreBoard {
  background: black;

  div {
    display: inline-block;
    font-size: 2em;
  }
}
.score {
  color: green;
}

.count {
  color: yellow;
}

.winner {
  color: blue;
}

button:disabled {
  display: none;
}

button:focus {
  outline: none;
}

button:active {
  color: white;
}

.table {
  background-image: url("../images/table-graphic.jpg");
  background-size: contain;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 50%;
  margin-top: -270px;
  width: 960px;
  height: 540px;
  border: 2px solid white;
}

.dealerTotal {
  position: absolute;
  top: 134px;
  left: 384px;
  color: white;
  font-size: 1.5em;
}

.playerTotal {
  position: absolute;
  top: 340px;
  left: 383px;
  color: white;
  font-size: 1.5em;
}

.dealer {
  position: absolute;
  top: 65px;
  left: 413px;
  perspective: 400px;
}

.player {
  position: absolute;
  top: 267px;
  left: 413px;
  perspective: 400px;
}

.dealer img, .player img {
  margin-right: -90px;
  transform: rotateX(16deg);
}

.dealer img {
  transform: scale(.85) rotateX(16deg);
}

.announce {
  position: absolute;
  background: black;
  display: none;
  &.lose {
    border: 6px double red;
    display: table-cell;
    vertical-align: middle;
    width: 336px;
    top: 186px;
    left: 311px;
    p {
      color: red;
      font-size: 4em;
      text-align: center;
    }
  }
  &.win {
    border: 6px double lime;
    display: table-cell;
    vertical-align: middle;
    width: 230px;
    top: 205px;
    left: 366px;
    p {
      color: lime;
      font-size: 3em;
      text-align: center;
    }
  }
  &.push {
    border: 6px double white;
    display: table-cell;
    vertical-align: middle;
    width: 208px;
    top: 186px;
    left: 380px;
    p {
      color: rgb(173, 199, 138);
      font-size: 4em;
      text-align: center;
    }
  }
}

.currentWager {
  position: absolute;
  top: 200px;
  left: 20px;
}

.bank {
  position: absolute;
  top: 180px;
  left: 20px;
}

button {
  //position: absolute;
  background: rgba(154, 185, 133, 0.63);
  font-size: 2em;
  padding: 8px 24px;
  border: 4px groove rgba(154, 185, 133, 0.63);
  border-radius: 16px 16px;
  color: rgb(59, 6, 0);
  font-family: Tahoma;
}

.buttons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 448px;
  left: 308px;
  width: 361px;
}

.bet:disabled {
  display: inline-block;
  background: rgba(154, 185, 133, 0.25);
  border: 4px groove rgba(154, 185, 133, 0.25);
  color: rgba(59,6,0,0.4);
}

#bet-hidden {
  display: none;
}

// .bet {
//   top: 400px;
//   left: 30px;
// }

// .newGame {
//   top: 450px;
//   left: 442px;
// }

// .hit {
//   top: 450px;
//   left: 377px;
// }

.stay {
//   top: 450px;
//   left: 478px;
  padding: 8px 16px;
}

.cardImage {
  width: 113px;
  height: 157px;
}


