h1 {
  color: white;
  background: black;
}

p {
  margin: 0;
}

body {
  background: black;
}

.scoreBoard {
  background: black;

  div {
    display: inline-block;
    font-size: 2em;
  }
}
.score {
  color: green;
}

.count {
  color: yellow;
}

.winner {
  color: blue;
}

button:disabled {
  display: none;
}

.table {
  background-image: url("../images/table-graphic.jpg");
  background-size: contain;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 50%;
  margin-top: -270px;
  width: 960px;
  height: 540px;
  border: 2px solid white;
}

.dealer {
  position: absolute;
  top: 50px;
  left: 350px;
}

.player {
  position: absolute;
  top: 250px;
  left: 350px;
}

.newGame {
  position: absolute;
  top: 323px;
  left: 433px;
  height: 99px;
  width: 108px;
  background: none;
  border: none;
  &:active {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
  &[disabled]:hover {
    cursor: initial;
  }
}

.cardImage {
  width: 113px;
  height: 157px;
}
