doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HIT ME
    link(rel='stylesheet', href='css/main.css')
  body
    .container
      .table
        img.chip.chip1(src="images/chip-1.png")
        img.chip.chip5(src="images/chip-5.png")
        img.chip.chip25(id="selectedBet", src="images/chip-25.png")
        img.chip.chip100(src="images/chip-100nss.png")
        .currentWager
        .bank
        .dealerTotal
        .playerTotal
        .dealer
        .player
        .buttons
          button.doubleDown(disabled, id="doubleDown-hidden") Double
          button.newGame Deal
          button.hit(disabled) Hit
          button.stay(disabled) Stay
        .announce
          p
      .scoreBoard
        .score Score: 0
        .count Count: 0
        .winner
    script(src="lib/build.js")
    script(src="main.js")

