doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HIT ME
    link(rel='stylesheet', href='css/main.css')
  body
    .container
      .table
        .dealer
        .player
        .buttons
          button.newGame Deal
          button.hit(disabled) Hit
          button.stay(disabled) Stay
        .announce
          p PUSH
      .scoreBoard
        .score Score: 0
        .count Count: 0
        .winner
      //- audio.cardPlace(src="sounds/cardPlace1.wav" type="audio/wav")
      //- audio.cardPackage(src="sounds/cardOpenPackage2.wav" type="audio/wav")
      //- audio.buttonClick(src="sounds/click1.wav" type="audio/wav")
      //- audio.winWav(src="sounds/chipsHandle5.wav" type="audio/wav")
      //- audio.loseWav(src="sounds/cardShove3.wav" type="audio/wav")
    script(src="lib/build.js")
    script(src="main.js")

