doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HIT ME
    link(rel='stylesheet', href='css/main.css')
  body
    .container
      h1 Snack Pack Black Jack
      .score 0
      .count 0
      .buttons
        button.dealCards new deck and deal 4
        button.sameDeckDeal same deck and deal 4
        button.hit hit
        button.stay stay
        button.reset reset
      .dealer
      .player
    script(src="lib/build.js")
    script(src="main.js")

