doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HIT ME
    link(rel='stylesheet', href='css/main.css')
  body
    .container
      h1 Snack Pack Black Jack
      .buttons
        button.getDeck get decks
        button.dealCards deal cards
        button.hit hit
        button.stay stay
      .dealer
        img.dealer1
        img.dealer2
      .player
        img.player1
        img.player2
    script(src="lib/build.js")
    script(src="main.js")

