doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HIT ME
    link(rel='stylesheet', href='css/main.css')
  body
    .container
      h1 Snack Pack Black Jack
      .buttons
        button.getDeck get decks
        button.dealCards deal cards
        button.hit hit
        button.stay stay
        button.dealerCard dealerCard
        button.playerCard playerCard
      .dealer
        img.dealer1
        img.dealer2
        img.dealer3
        img.dealer4
        img.dealer5
        img.dealer6
        img.dealer7
        img.dealer8
        img.dealer9
        img.dealer10
        img.dealer11
      .player
        img.player1
        img.player2
        img.player3
        img.player4
        img.player5
        img.player6
        img.player7
        img.player8
        img.player9
        img.player10
        img.player11
    script(src="lib/build.js")
    script(src="main.js")

