doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HIT ME
    link(rel='stylesheet', href='css/main.css')
    link(rel="icon", type="image/png", href="images/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="images/favicon-16x16.png", sizes="16x16")
  body
    .container
      .table
        .dealer
          .hand.dealerHand
          .total.dealerTotal
        .player
          .hand.playerHand
          .total.playerTotal
          .chips.playerChips
          .wager.playerWager
          button.btn.splitButton(disabled) Split
          .popup.announce
        .split1
          .hand.split1Hand
          .total.split1Total
          .chips.split1Chips
          .wager.split1Wager
          button.btn.split1Button(disabled) Split
          .popup.announce1
        .split2
          .hand.split2Hand
          .total.split2Total
          .chips.split2Chips
          .wager.split2Wager
          button.btn.split2Button(disabled) Split
          .popup.announce2
        .split1a
          .hand.split1aHand
          .total.split1aTotal
          .chips.split1aChips
          .wager.split1aWager
          .popup.announce1a
        .split1b
          .hand.split1bHand
          .total.split1bTotal
          .chips.split1bChips
          .wager.split1bWager
          .popup.announce1b
        .split2a
          .hand.split2aHand
          .total.split2aTotal
          .chips.split2aChips
          .wager.split2aWager
          .popup.announce2a
        .split2b
          .hand.split2bHand
          .total.split2bTotal
          .chips.split2bChips
          .wager.split2bWager
          .popup.announce2b
        .bankChips
        .bankTotal
        .buttons
          button.btn.deal Deal
          button.btn.double(disabled) Double
          button.btn.hit(disabled) Hit
          button.btn.stay(disabled) Stay
        img.chip.chip1(data-id="1", src="images/chip-1.png")
        img.chip.chip5(data-id="5", src="images/chip-5.png")
        img.chip.chip10(data-id="10", src="images/chip-10.png")
        img.chip.chip25(data-id="25", id="selectedBet", src="images/chip-25.png")
        img.chip.chip50(data-id="50", src="images/chip-50.png")
        img.chip.chip100(data-id="100", src="images/chip-100.png")
        .advantage-gauge
          .levels
              span.red
              span.green
            .gauge-needle
          .houseText HOUSE
          .playerText PLAYER
          .advantageText ADVANTAGE
          .percentMarkers
            .neg1 -1%
            .neg2 -2%
            .pos1 +1%
            .pos2 +2%
        button.toggleCountInfo
        .countInfo.hidden
          .count Count: 0
          .trueCount True Count: 0
          .cardsLeft 312
          .decksLeft 6
        button.toggleTestPanel
        .testPanel.hidden
          .dealer1
            p To Dealer
            select.dealer1Value
              option ACE
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option JACK
              option QUEEN
              option KING
            select.dealer1Suit
              option CLUBS
              option DIAMONDS
              option HEARTS
              option SPADES
          .dealer2
            select.dealer2Value
              option ACE
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option JACK
              option QUEEN
              option KING
            select.dealer2Suit
              option CLUBS
              option DIAMONDS
              option HEARTS
              option SPADES
          .player1
            p To Player
            select.player1Value
              option ACE
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option JACK
              option QUEEN
              option KING
            select.player1Suit
              option CLUBS
              option DIAMONDS
              option HEARTS
              option SPADES
          .player2
            select.player2Value
              option ACE
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option JACK
              option QUEEN
              option KING
            select.player2Suit
              option CLUBS
              option DIAMONDS
              option HEARTS
              option SPADES
          button.testDeal Deal Cards
          .testCard
            select.giveCardValue
              option ACE
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option JACK
              option QUEEN
              option KING
            select.giveCardSuit
              option CLUBS
              option DIAMONDS
              option HEARTS
              option SPADES
          button.giveCard.dealerGiveCard(data-id="dealer") To Dealer
          button.giveCard.playerGiveCard(data-id="player") To Player
          input.splitTesting(type="checkbox")
          label Split Testing
          //- button.giveCard.split1GiveCard(data-id="split1") To Split1
          //- button.giveCard.split2GiveCard(data-id="split2") To Split2
          //- button.giveCard.split1aGiveCard(data-id="split1a") To Split1a
          //- button.giveCard.split1bGiveCard(data-id="split1b") To Split1b
          //- button.giveCard.split2aGiveCard(data-id="split2a") To Split2a
          //- button.giveCard.split2bGiveCard(data-id="split2b") To Split2b
    script(src="lib/build.js")
    script(src="main.js")

