doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HIT ME
    link(rel='stylesheet', href='css/main.css')
    //- link(rel="icon", type="image/png", href="images/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="images/favicon-16x16.png", sizes="16x16")
  body
    .container
      //- button.giveSplitHand Split Test
      .table
        img.chip.chip1(src="images/chip-1.png")
        img.chip.chip5(src="images/chip-5.png")
        img.chip.chip10(src="images/chip-10.png")
        img.chip.chip25(id="selectedBet", src="images/chip-25.png")
        img.chip.chip50(src="images/chip-50.png")
        img.chip.chip100(src="images/chip-100.png")
        .handChips
        .currentWager
        .bankChips
        .bankTotal
        .total.dealerTotal
        .total.playerTotal
        .dealer
        .player
        //- .playerSplit.hidden
        //-   .total.hand1Total
        //-   .hand1
        //-   .total.hand2Total
        //-   .hand2
        //- button.split(disabled) Split
        .buttons
          button.doubleDown(disabled, id="doubleDown-hidden") Double
          button.newGame Deal
          button.hit(disabled) Hit
          button.stay(disabled) Stay
        .announce
          p
        .count Count: 0
        .testHand
          .dealer1
            select.dealer1Value
              option ACE
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option JACK
              option QUEEN
              option KING
            select.dealer1Suit
              option CLUBS
              option DIAMONDS
              option HEARTS
              option SPADES
          .dealer2
            select.dealer2Value
              option ACE
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option JACK
              option QUEEN
              option KING
            select.dealer2Suit
              option CLUBS
              option DIAMONDS
              option HEARTS
              option SPADES
          .player1
            select.player1Value
              option ACE
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option JACK
              option QUEEN
              option KING
            select.player1Suit
              option CLUBS
              option DIAMONDS
              option HEARTS
              option SPADES
          .player2
            select.player2Value
              option ACE
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option JACK
              option QUEEN
              option KING
            select.player2Suit
              option CLUBS
              option DIAMONDS
              option HEARTS
              option SPADES
          button.testDeal Test Deal
    script(src="lib/build.js")
    script(src="main.js")

