doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HIT ME
    link(rel='stylesheet', href='css/main.css')
  body
    .container
      .table
        .currentWager
        .bank
        .dealerTotal
        .playerTotal
        .dealer
        .player
        .buttons
          button.bet(disabled) Bet
          button.newGame Deal
          button.hit(disabled) Hit
          button.stay(disabled) Stay
        .announce
          p PUSH
      .scoreBoard
        .score Score: 0
        .count Count: 0
        .winner
    script(src="lib/build.js")
    script(src="main.js")

